.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.heading {
  font-size: calc(32px + 0.4vw);
  padding-top: 6rem;
}
